
img {
    width: 100%;
    height: auto;
}

body {
    background: aquamarine;
}

main {
    margin-right: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.container > div {
    border: 2px solid red;
    background: #ba9ea1;
}
/*
.container :nth-child(1) {
    margin-left: 10px;

}*/

.container :nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

/*.container :nth-child(3) {

   flex: 10;
}*/
