/*img {
    width: 100%;
    height: auto;
}*/
.transition {
    opacity: 0.5;
/*Последовательность функций, если нужно указывать много*/
    /*свойство перехода*/
    transition-property: opacity;
    /*скорость перехода*/
    transition-duration: 2s; /*прозрачность меняется за х секунд*/
    /*скорость зажиния*/
    transition-delay: 1s;
/*    transition: ;*/
    transition-timing-function: ease;

    transition: opacity 2s ease 1s;
}


.transition:hover {
    opacity: 1;
}

.transition-2 {
    color: #FF4E00;
    background: white;

    transition-property: all, background-color; /* all - перечисляются все свойства*/
    transition-duration: 3s;
}
.transition-2:hover {
    background: #FF4E00;
    color: white;

}

