@import "style.css";

#submit {
    float: left;
    background: yellowgreen;
}

#reset {
    float: right;
    background: salmon;
}

.login_form {

    padding: 50px;
    background: silver;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
   /* height: auto;
    max-width: 300px;
    background: silver;
    border: 1px solid black;
    !*max-width: 500px;*!
    position: center;
    padding: 10px;
}
*/


.comment {
    padding: 10px;
    background: powderblue;
    position: fixed; top: 45%; left: 85%;
   /* -webkit-transform: translate(10%, 10%);
    -ms-transform: translate(50%, 50%);*/
    transform: translate(-70%, -70%);
    width: 450px;
    height: auto;
    scroll-behavior: auto;
    text-align: justify;

}

.comment1 {
    text-align: inherit;
}

.arrow {
    padding: 0;
    background: aquamarine; /* url('img\arrow_to_right_1.gif');*/
    border: black dashed 3px;
    position: fixed; top: 45%; left: 10%;
    /*-webkit-transform: translate(10%, 10%);
    -ms-transform: translate(50%, 50%);*/
    transform: rotate(-45deg);
    max-width: 300px;
    text-decoration: red;

}

.text-red1 {
    color: red;

}