@import "style.css";

#submit {
    float: left;
    background: yellowgreen;
    margin-top: 20px;

}

#reset {
    float: right;
    background: salmon;
    margin-top: 20px;

}

.login_form {

    padding: 50px;
    background: silver;
    position: fixed; top: 50%; left: 50%;
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
    border-radius: 3%;

}
   /* height: auto;
    max-width: 300px;
    background: silver;
    border: 1px solid black;
    !*max-width: 500px;*!
    position: center;
    padding: 10px;
}
*/


.comment {
    padding: 10px;
    background: powderblue;
    position: fixed; top: 45%; left: 85%;
   /* -webkit-transform: translate(10%, 10%);
    -ms-transform: translate(50%, 50%);*/
    transform: translate(-70%, -70%);
    width: 450px;
    height: 450px;
    text-align: justify;
    overflow-y: scroll;
    scroll-behavior: smooth;



}

.comment1 {
    text-align: inherit;
    font-style: italic;
}

.arrow {
    padding: 0;
    background: aquamarine; /* url('img\arrow_to_right_1.gif');*/
    border: black dashed 3px;
    position: fixed; top: 45%; left: 10%;
    /*-webkit-transform: translate(10%, 10%);
    -ms-transform: translate(50%, 50%);*/
    transform: rotate(-45deg);
    max-width: 300px;
    color: red;
    font-weight: bold;

}

.text-red1 {
    color: red;
}

.text-shadow1 {
    box-shadow: 5px 0px 30px red;
    border-radius: 50%;

}

.shadow-block1 {
    box-shadow: -5px -5px 100px skyblue inset;
}

.shadow-btn1 {
    box-shadow: 0px 10px 10px ;
}

input {
    background: yellow;

}


