footer, header {
    background: powderblue url("../bg.jpg") no-repeat center;;
    text-align: center;
    height: 80px;
    padding: 30px;

}

#main_menu {

    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;

}

a {
    text-decoration: none;
    color: red;
}

button {
    background: silver;
    height: 30px;
    width: 100px;
    border: 0;
    margin-right: 30px;


}

.bg-green1 {
    background: aquamarine;

}

.text-right {
    float: right;
    margin-right: 50px;

}

.autorize {
    width: auto;
    background: darkgray;
    margin-top:65px;
    padding: 5px;
    padding-right: 10px;
    border: 1px double green;
    float: right;
    text-align: center;
}

.text-main-pos {
    text-align: justify;
}

.pic_align_right {
    float: right;
    margin-left: 10px;
  /*  padding-top: 0px;*/
}

.main_container {
    max-width: 1200px;
    margin-left: 300px;
    margin-right: 300px;
}

