header {
    height: 100px;
    background: url("../bg.jpg");
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
}

#main_menu a {
    background: #EFEBE9;
    margin-right: 10px;
    padding: 5px;
    border-radius: 15%;
    align-self: center;
}

a {
    text-decoration: none;
    color: red;
}

button {
    background: silver;
    height: 30px;
    width: 100px;
    border: 0;
    margin-right: 30px;
}

.button_bg1 {
    background: silver;
}

.bg-green1 {
    background: aquamarine;

}

.text-right {
    float: right;
    margin-right: 50px;

}

.autorize {
    width: auto;
    background: darkgray;
    margin-top:65px;
    padding: 5px;
    padding-right: 10px;
    border: 1px double green;
    float: right;
    text-align: center;
}

.text-main-pos {
    text-align: justify;
}

.pic_align_right {
    float: right;
    margin-left: 10px;
  /*  padding-top: 0px;*/
}

.main_container {
    max-width: 1200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 120px;
}

.shadow-block {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.shadow-btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-shadow {
    text-shadow: 5px 5px 10px #3E2723;
}

