.padding {
    padding: 10px;
    text-align: center;
    /*border: 1px solid black;*/
}

header,
footer {
    height: 100px;
    background: orangered;
}

aside {
    background: #cc3300;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-block {
    flex: 1 0 auto; /*1 - flex-grow (увеличение), 1 - максимально возможный размер
    , 0 - уменьшение(shrink), auto - basis
     flex: 1 для всех элементов: все элементы занимают один размер*/
    /*flex1: 1, flex2:1, flex3:0 - f3 займет столько, сколько надо для отображения содержимого, f1,f2 -
     поделят место поровну*/

    /*shrink 0 - пропорционально не уменьшаем*/
}

footer {
    flex: 0 0 auto;
}
